<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{Admin/adminLayout}">
<head>
    <title>Admin</title>
	 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
	<section layout:fragment="contenido">
		
		
		<h2>Bienvenido Administrador</h2>
		<p>Solo accesible por usuarios con rol ADMIN.</p>

		<hr>

		  <!-- SweetAlert -->
    <div th:if="${mensaje}">
    <script th:inline="javascript">
        Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: /*[[${mensaje}]]*/ '',
            confirmButtonText: 'OK'
        });
    </script>
</div>
    
		
		
		
	</section>
</body>
</html>
